@import '../../../common/lib/bnui.scss';

label {
  display: inline-block;
  min-width: 470px;
  margin-right: 20px;
}
form {
  width: 100%;
}
.picker-text {
  margin-left: 20px;
  position: relative;
}
