.tabBar-input-wrapper > * {
  margin-right: 8px;
  height: 32px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.tabBar-input-wrapper input {
  flex: 1;
}

.tabBar-input-wrapper + small {
  line-break: anywhere;
  padding: 0 16px 16px 16px;
  display: block;
}
