.page-index {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}
