.page-section {
  margin-bottom: 10px;
}

.custom-placeholder {
  color: blue !important;
}

.input-bg {
  width: 120px !important;
  border: 1px solid var(--bnui-FG-1);
  margin-left: 24px;
  font-size: 16px;
}
