.clip-center {
  text-align: center;
}

.clip-input {
  border: 1px solid #282828;
  border-radius: 4px;
  padding: 2px 12px;
  line-height: 1.6;
  font-size: 14px;
  color: #212833;
  font-weight: normal;
}

// .perf-center-input-view {
//   width: 100%;
//   display: flex;
//   justify-content: center;
// }

// .perf-center-input-view {
// }

// .perf-entry-wrapper {
//   background-color: ghostwhite;
//   padding: 4px;
//   margin-bottom: 12px;
//   color: black;
// }

// .perf-entry-property {
//   display: flex;
//   justify-content: space-between;

//   & > *:first-child {
//     font-size: 12px;
//     color: darkgray;
//   }

//   & > *:nth-child(2) {
//     font-size: 14px;
//     text-align: right;
//   }
// }
